<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личные данные врача</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-5 p-5 border-top border-left border-bottom border-right border-dark"
     style="background-color: #ffffff">
    <h1 align="center">Личные данные врача</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstNameInput">Имя:</label>
                    <input type="text" class="form-control" id="firstNameInput" name="first_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthDateInput">Дата Рождения:</label>
                    <input type="date" class="form-control" id="birthDateInput" name="birthday_date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastNameInput">Фамилия:</label>
                    <input type="text" class="form-control" id="lastNameInput" name="last_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cityInput">Город:</label>
                    <input type="text" class="form-control" id="cityInput" name="city">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="patronymicInput">Отчество:</label>
                    <input type="text" class="form-control" id="patronymicInput" name="second_name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="genderInput">Пол:</label>
                    <select id="genderInput" class="form-control" name="gender">
                        <option selected value="М">Мужской</option>
                        <option value="Ж">Женский</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="clinicInput">Клиника:</label>
                    <input type="text" class="form-control" id="clinicInput" name="organisation">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="specialtyInput">Специальность:</label>
                    <select id="specialtyInput" class="form-control" name="type">
                        {% for type in doctor_types %}
                            <option value={{ type.id }}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumberInput">Номер телефона:</label>
                    <input type="tel" class="form-control" id="phoneNumberInput" name="phone_number">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="medicalAccreditationInput">Номер свидетельства об аккредитации:</label>
                    <input type="number" class="form-control" id="medicalAccreditationInput" name="license">
                </div>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Я подтверждаю свое согласие на сбор, хранение, использование данных для регистрации в MedDiary в
                соответствии с ФЗ "О персональных данных" от 27.07.2006 №152-ФЗ
            </label>
        </div>
        <div class="form-row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-lg mb-lg-3">Создать аккаунт</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
