<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not chat %}
{% else %}
    {% load tz %}
    {% if chat %}
        <div id="messages" class="panel">
            <div id="innerMessages">
                {% for message in chat.message_set.all %}
                    {% include 'users/message.html' with message_item=message %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div id="message_form">
        <form id="message-form" class="panel panel-body" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm"
                    onclick="return ETextEditor.validateForm('message-form')"><span
                    class="ico ico-comment"></span></button>
        </form>
    </div>
{% endif %}
</body>
</html>