{% for course in courses %}
    <div class="col-sm-3">
        <a href="course/{{ course.id }}" class="card-link">
            <div class="card" data-category="{{ course.category }}">
                <img class="card-img-top" src="/{{ course.photo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.description|truncatechars_html:70|safe }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
